body{
    max-width: 1270px;
    margin: 0 auto;
}
nav{
    width: 50%;
    height: 50px;
    /* background-color: rgb(155, 155, 172); */
    margin: 0 auto;
    align-content: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    background-color: darkslategrey;
    color:white;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s ease-out;
}
.banner-container{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    /* gap:100px; */
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    /* background-color: rgb(173, 233, 149); */
}
.info{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    margin-left: 50px;
}
.image-container{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:6px;
    flex-direction: row;
    align-items:flex-start;
    align-content: flex-start;
    margin-top: 10px;
}
img{
    height: 180px;
    width: 297px;
}
button{
    padding: 10px;
    font-weight: 700;
    margin-right: 5px;
    border-radius: 8px;
}
button:hover{
    background-color: lightgray;
}